
body,
html {
  width: 100%;
  height: 100%; 
}

.solid {
  color: #F05F44; 
  text-shadow:2px 2px rgba(14, 9, 2);
}

header.startup {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
}

header.startup h2{
  margin-bottom: 50px; 
  font-weight:700;
  color: rgba(255, 234, 62); 
  text-shadow:2px 2px rgba(14, 9, 2);
  font-family: 'Poor Story', cursive;
}

h3{
font-family: 'Orbitron', sans-serif;
margin-bottom:50px;
}

.position{
  font-size:small;
  color:black;
}



header.startup h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Poor Story', cursive;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}

.btn-outline-success{
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 300px;
  background-color: #F05F44;
  border-color: #F05F44; 
}

.btn-outline-success:hover{
  background-color:rgba(255, 234, 62);
  border-color:rgba(255, 234, 62);
}

.form-control{
  border-radius:300px;
  font-weight:100;
}
